

.category {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    gap: 10px;

    img {
        width: 54px;
        height: 54px;
        border-radius: 8px;
        object-fit: cover;
    }

    h2 {
        color: var(--gray-100);
    }

    span {
        color: var(--white);
    }
}

.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--dark-900);
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    width: 100%;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
    }
}

.inputAmount {
    height: 40px;
    width: 40px;
    background-color: var(--dark-700);
    border-radius: 8px;
    color: var(--white);
    border: 1px solid var(--gray-100);
    text-align: center;
}

.buttonMinus {
    border: 0;
    background: var(--red-900);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter .8s;

    &:hover {
        scale: 1.1;
    }
}

.buttonPlus {
    border: 0;
    background: var(--green-900);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter .8s;

    &:hover {
        scale: 1.1;
    }
}